.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_store
/docs/author/*
!/docs/author/kiri-kuroda
/docs/authors/*
!/docs/authors/page
/docs/courses
/docs/talk
/docs/publication_types
/docs/publication-type
/docs/media
