.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_store
/docs/authors/*
!/docs/authors/admin
/docs/courses
/docs/media
/docs/publication_types
/docs/talk
/docs/ja/authors/*
!/docs/ja/authors/admin
/docs/ja/courses
/docs/ja/publication_types
/docs/ja/talk
