.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_store

/docs/authors/*
!/docs/authors/admin
/docs/authors/admin/index.html
/docs/publication/*
!/docs/publication/index.html
/docs/courses
/docs/media
/docs/publication_types
/docs/talk

/docs/en/authors/*
!/docs/en/authors/admin
/docs/en/authors/admin/index.html
/docs/en/authors/admin/index.xml
/docs/en/publication/*
!/docs/en/publication/index.html
/docs/en/courses
/docs/en/post
/docs/en/publication_types
/docs/en/talk
