body {
  background-color: rgb(245, 245, 245);
}

.ai-google-scholar {
  color: rgb(50, 139, 250);
}

.fa-orcid {
  color: rgb(161, 205, 65);
}

.fa-github {
  color: rgb(20, 20, 20);
}

.fa-researchgate {
  color: rgb(0, 194, 176);
}
