body {
  background-color: rgb(245, 245, 245);
  font-family: "Roboto" "Noto Sans JP";
}

.article h1 {
  font-family: "Montserrat", "Noto Sans JP";
  font-weight: bold;
}

a {
  color: #fa5246;
  text-decoration: none;
  transition: color 0.0s ease;
}

h3.article-title a:hover {
  color: #fa5246;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  text-decoration: none;
}

a:hover h4.card-title.exp-title.text-muted {
  color: #fa5246 !important;
}

.experience .card-text {
  color: #212529 !important;
  font-family: Optima;
}

.experience .m-2 .border, .experience .col.border-right {
  border-color: rgb(180, 180, 180) !important;
}

.navbar-light .navbar-brand {
  font-weight: normal;
  color: #2b2b2b !important;
}

#navbar-main .main-menu-item ul li .nav-link:hover{
  // font-weight: bold;
  color: #fa5246;
}

.navbar .navbar-nav .nav-link.active {
  font-weight: normal !important;
  color: #fa5246 !important;
}

.ai-google-scholar {
  color: rgb(50, 139, 250);
}

.fa-orcid {
  color: rgb(161, 205, 65);
}

.fa-github {
  color: rgb(20, 20, 20);
}

.fa-researchgate {
  color: rgb(0, 194, 176);
}
