body {
  background-color: rgb(245, 245, 245);
  font-family: "Roboto" "Noto Sans JP";
}

.article h1 {
  font-family: "Montserrat", "Noto Sans JP";
  font-weight: bold;
}

a {
  color: #d9473d;
  text-decoration: none;
  transition: color 0.0s ease;
}

.dark a {
  color: #ffd803;
  text-decoration: none;
  transition: color 0.0s ease;
}

h3.article-title a:hover {
  color: #d9473d;
  text-decoration: none;
  transition: color 0.2s ease;
}

.dark h3.article-title a:hover {
  color: #ffd803;
  text-decoration: none;
  transition: color 0.2s ease;
}

.article-style p {
  color: rgb(47, 47, 47);
}

.dark .article-style p {
  color: white;
}

a:hover {
  text-decoration: none;
}

.dark a:hover {
  text-decoration: none;
}

#talks p a {
  color: rgb(47, 47, 47);
}

.dark #talks p a {
  color: white;
}

p a {
  color: #d9473d;
}

.dark p a {
  color: #ffd803;
}

.search-hit a:hover, .pub a:hover, li a:hover, #talks p a:hover, p a:hover {
  color: #d9473d;
  text-decoration: underline;
}

.dark .search-hit a:hover, .dark .pub a:hover, .dark li a:hover, .dark #talks p a:hover, .dark p a:hover {
  color: #ffd803;
  text-decoration: underline;
}

.dark .form-control:focus {
  background-color: #44475a;
  border-color: #ffd803;
  box-shadow: 0 0 0 0.2rem #ffd803;
}

a:hover h4.card-title.exp-title.text-muted {
  color: #d9473d !important;
}

.dark a:hover h4.card-title.exp-title.text-muted {
  color: #ffd803 !important;
}

.article-metadata a:hover {
  text-decoration: underline;
}

.card-subtitle a:hover {
  color: #d9473d;
}

.dark .card-subtitle a:hover {
  color: #ffd803;
}

.experience .card-text {
  color: rgb(47, 47, 47) !important;
}

.dark .experience .card-text {
  color: white !important;
}

.card h4 a {
  color: rgba(0, 0, 0, 0.54);
}

.dark .card h4 a {
  color: rgb(230, 230, 230);
}

.card h4 a:hover {
  color: #d9473d;
  border-bottom: none;
  text-decoration: underline;
}

.dark .card h4 a:hover {
  color: #ffd803;
  border-bottom: none;
  text-decoration: underline;
}

.experience .m-2 .border, .experience .col.border-right {
  border-color: rgb(180, 180, 180) !important;
}

.navbar {
  background: rgb(51, 51, 51);
}

.navbar-light .navbar-brand {
  font-weight: normal;
  color: white !important;
}

#navbar-main .main-menu-item ul li .nav-link:hover{
  // font-weight: bold;
  color: white;
}

.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
  font-weight: normal !important;
  color: white !important;
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}

.dark .navbar-light .navbar-nav .show>.nav-link, .dark .navbar-light .navbar-nav .active>.nav-link, .dark .navbar-light .navbar-nav .nav-link.show, .dark .navbar-light .navbar-nav .nav-link.active {
  color: white;
}

button.navbar-toggler i, .navbar-light .navbar-nav .nav-link, #navbar-main .main-menu-item ul li .nav-link {
  color: rgb(214, 214, 214);
}

.dark button.navbar-toggler i, .dark .navbar-light .navbar-nav .nav-link, .dark #navbar-main .main-menu-item ul li .nav-link {
  color: rgb(214, 214, 214);
}

.dark .navbar .navbar-nav .nav-link.active {
  font-weight: normal !important;
  color: white !important;
}

button.navbar-toggler i:hover {
  color: white;
}

#navbar-main .main-menu-item {
  text-align: left !important;
  padding-left: 0;
}

.collapse:not(.show) {
  display: none;
}

@media (max-width: 991.98px) {
  .navbar-collapse.collapsing, .navbar-collapse.show {
    z-index: 1031 !important;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: rgb(51, 51, 51);
    text-align: center !important;
  }
}

.btn, .btn i {
  // padding: 5px .4rem 5px .4rem;
  font-size: 1.2rem;
  // border-radius: 0;
  border: none;
}

.btn-links .btn:hover {
  transform: scale(1.2);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: transparent !important;
  border-color: transparent !important;
}

.fa-file-pdf {
  color: rgb(177, 10, 15);
}

.dark .fa-file-pdf {
  color: #d55e00;
}

.fa-quote-right {
  color: #333333;
}

.dark .fa-quote-right {
  color: white;
}

.fa-external-link-alt {
  color: #333333;
}

.dark .fa-external-link-alt {
  color: white;
}

.ai-google-scholar {
  color: rgb(50, 139, 250);
}

.fa-orcid {
  color: rgb(161, 205, 65);
}

.fa-github {
  color: rgb(20, 20, 20);
}

.dark .fa-github {
  color: white;
}

.fa-researchgate {
  color: rgb(0, 194, 176);
}

.fa-twitter-square {
  color: rgb(40, 156, 232);
}

.dark .fa-twitter-square {
  color: white;
}

.fa-facebook-square {
  color: rgb(55, 93, 169);
}

.dark .fa-facebook-square {
  color: white;
}

.fa-line {
  color: rgb(33, 179, 42);
}

.dark .fa-line {
  color: white;
}

.fa-get-pocket {
  color: rgb(236, 64, 89);
}

.dark .fa-get-pocket {
  color: white;
}

.fa-linkedin {
  color: rgb(15, 115, 174);
}

.dark .fa-linkedin {
  color: white;
}

.fa-reddit {
  color: rgb(252, 61, 30);
}

.fa-pinterest {
  color: rgb(227, 0, 43);
}

.fa-tumblr-square {
  color: rgb(45, 74, 99);
}

.dark .fa-tumblr-square {
  color: white;
}

.fa-hatena {
  &:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
    color: rgb(27, 164, 209);
  }
}

.dark .fa-hatena {
  &:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
    color: white;
  }
}

.fa-rss-square {
  color: rgb(246, 139, 30);
}

.fa-envelope {
  color: rgb(51, 51, 51);
}

.dark .fa-envelope {
  color: white;
}

.icon-feedly:hover, .icon-feedly-o:hover, .icon-feedly, .icon-feedly-o {
  color: rgb(137, 192, 78);
  font-size: 99% !important;
}

.dark .icon-feedly:hover, .icon-feedly-o:hover, .icon-feedly, .icon-feedly-o {
  color: white;
  font-size: 99% !important;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-c80p8g');
	src:url('../fonts/icomoon.eot?#iefix-c80p8g') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-c80p8g') format('woff'),
		url('../fonts/icomoon.ttf?-c80p8g') format('truetype'),
		url('../fonts/icomoon.svg?-c80p8g#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-feedly-o:before {
	content: "\e600";
}
.icon-feedly:before {
	content: "\e601";
}


.dark .dropdown-menu {
  border-color: white;
}

.dark h1, .dark h2, .dark h3, .dark h4 {
  color: white;
}

.dark a.summary-link {
  color: white;
}

.dark a.summary-link:hover {
  color: white;
}

.article-categories a:hover {
  color: #ffd803;
}

li.nav-item a:hover {
  text-decoration: none;
}

.dark .navbar .dropdown-item.active, .dark .navbar .dropdown-item-active {
  color: #ffd803 !important;
}
